<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gleb.dentistcard" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Navigator">
        </activity>
        <activity
            android:name=".RegistrationUser">
        </activity>
        <activity
            android:name="com.example.gleb.insert.InsertCountry">
        </activity>
        <activity
            android:name="com.example.gleb.insert.InsertCity">
        </activity>
        <activity
            android:name="com.example.gleb.insert.InsertChange">
        </activity>
        <activity
            android:name="com.example.gleb.insert.InsertDepartmentDoctor">
        </activity>
        <activity
            android:name="com.example.gleb.insert.InsertDiagnose">
        </activity>
        <activity
            android:name="com.example.gleb.insert.InsertDoctor">
        </activity>
        <activity
            android:name="com.example.gleb.insert.InsertKvalification">
        </activity>
        <activity
            android:name="com.example.gleb.insert.InsertParticient">
        </activity>
        <activity
            android:name="com.example.gleb.insert.InsertPost">
        </activity>
        <activity
            android:name="com.example.gleb.insert.InsertRecommendation">
        </activity>
        <activity
            android:name="com.example.gleb.insert.InsertRegistration">
        </activity>
        <activity
            android:name="com.example.gleb.insert.InsertTicket">
        </activity>
        <activity
            android:name="com.example.gleb.insert.InsertTimetable">
        </activity>
        <activity
            android:name=".CountryActivity">
        </activity>
        <activity
            android:name=".CityActivity">
        </activity>
        <activity
            android:name=".DepartmentDoctorActivity">
        </activity>
        <activity
            android:name=".ChangeActivity">
        </activity>
        <activity
            android:name=".KvalificationActivity">
        </activity>
        <activity
            android:name=".DiagnoseActivity">
        </activity>
        <activity
            android:name=".PostActivity">
        </activity>
        <activity
            android:name=".RegistrationActivity">
        </activity>
        <activity
            android:name=".TicketActivity">
        </activity>
        <activity
            android:name=".DoctorActivity">
        </activity>
        <activity
            android:name=".ParticientActivity">
        </activity>
        <activity
            android:name=".RecomendationActivity">
        </activity>
        <activity
            android:name=".TimetableActivity">
        </activity>
    </application>
</manifest>
